USER_JWT_SECRET="L7UgMtJCFkeUbvmKhJhX3KtojWbCz/ySxf/WQGfN8VI="
DATABASE_URL= "postgresql://neondb_owner:npg_pftvuKdA39XY@ep-blue-cell-a4f6mk5d-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
PORT=8080
CLIENT_URL="http://localhost:3000"
NODE_VERSION=20
BACKEND_URL=https://sketchboard-2.onrender.com/
WS_URL=https://sketchboard-2.onrender.com/